.pink_mode{
    --color-barra-lateral: #fec6c5;
    --color-texto: #000;
    --color-botones: #e7817f;
    --color-botones-1: #ec6fc68c;
    --color-blanco: #fff;
    --fondo-barra: #fff;
    --bolita: #76265e8c;
}