@import url(variables1.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--color-3);
}

/* PRESENTACION */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}
.caja_main {
    padding: 10px;
    border-radius: 15px;
    width: 55%;
    height: 75svh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
.logo_div {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    height: 36svh;
}
.logo_div img{
    background: transparent;
    width: 100svh;
}
.div_button{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.div_button button{
    background: var(--color-1);
    width: 20%;
    height: 6svh;
    border-radius: 10px;
    border: none; 
    color: var(--color-4);
}
.div_button button:hover{
    background: var(--color-4);
    color: var(--color-1);
    border: none;
}
.des_div {
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12svh;
}
.des_div p{
    text-align: center;
    background: transparent;
    font-family: "Confortaa-Light";
    font-size: 20px;
    color: var(--color-1);
}

