<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/pink.css">
    <link rel="icon" href="../storage/img/4d6e1b00ca69ff2651584e0374567c4a.png" type="image/x-icon">
    <title>Home Ghibli</title>
</head>
<body>
    <div class="barra_lateral" >
        <div class="nombre_pagina">
            <img id="susuwatari" src="../storage/img/4d6e1b00ca69ff2651584e0374567c4a.png" alt="">
            <span>Studio Ghibli</span>
        </div>
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="">
                        <img src="../storage/img/home-outline.svg" alt="">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../storage/img/copy-outline.svg" alt="">
                        <span>CATEGORIES</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../storage/img/videocam-outline.svg" alt="">
                        <span>MOVIES</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../storage/img/information-circle-outline.svg" alt="">
                        <span>ABOUT</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="linea"></div>

        <div class="modo_oscuro">
            <div class="info">
                <img src="../storage/img/moon-outline.svg" alt="">
                <span>PINK MODE</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">
                    </div>
                </div>
            </div>
        </div>
        <div class="linea"></div>
        
        <a href="../index.html" class="devolver">
            <img src="../storage/img/arrow-back-circle-outline.svg" alt="">
            <div class="text">
                <span>GO BACK</span>
            </div>
        </a>
    </div>
    <script src="../javascript/menu.js"></script>
</body>
</html>